<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lazar.domaci">

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="11" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemsActivity" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".AuctionsActivity" />
        <activity android:name=".AuctionActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BidActivity" />
        <activity android:name=".addBid" />
        <activity android:name=".UserActivity" />
        <activity android:name=".LoginActivity"></activity>
    </application>

</manifest>